*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: "Josefin Sans";
  font-style: normal;
}

.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 150px;
  background-color: #5956e9;
  border: 1px solid white;
  color: white;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 25%;
  text-align: center;
  cursor: pointer;
  line-height: 28px;
  z-index: 1;
  user-select: none;
  transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.header {
  margin: 0 auto;
  width: 375px;
  position: relative;
}

.header-container {
  position: absolute;
  top: 40px;
  left: 16px;
  z-index: 777;
}

.header-address {
  display: none;
}
.header-soc-list {
  display: none;
}

.header-soc-icon:hover,
.header-soc-icon:focus {
  transform: scale(1.1);
}

.header-nav {
  background-color: #ffffff;
  width: 343px;
  height: 40px;
  position: absolute;
  padding-left: 9px;
  padding-right: 3px;
  display: flex;
  align-items: center;
  gap: 230px;
  border-radius: 3px;
  transition: color 0.25s ease;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.header-nav-item:hover,
.header-nav-item:focus,
.header-nav-menu-item:hover,
.header-nav-menu-item:focus {
  color: #5956e9;
}

.header-nav-left {
  display: none;
}

.header-nav-right {
  display: none;
}
.header-nav-button {
  width: 76px;
  height: 34px;
  border-radius: 3px;
  background: #5956e9;
  border: none;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.header-nav-button:hover,
.header-nav-button:focus {
  background: #6563e7;
}

.menu-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  border: none;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.menu-is-open {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}

.header-logo {
  position: absolute;
  top: -10px;
  left: 122px;
  z-index: 888;
  background-color: #ffffff;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.header-logo-icon {
  width: 79px;
  height: 12px;
}

/* ! ------------------------------hero-------------------------- */
.hero {
  margin: 0 auto;
  padding: 165px 0 130px 0;
  width: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  background-image: url(../img/heroblog-mob-1x.jpg);
  position: relative;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/heroblog-mob-2x.jpg);
  }
}

.hero-container {
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 48.83px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.hero-span {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.hero-span-icon {
  margin-top: 2px;
}

.hero-span-text {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* ! ----------------------------backdrop--------------------------- */
.backdrop-menu {
  width: 343px;
  height: 356px;
  background-color: #ffffff;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 67px 89px 39px 40px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.data-close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #5956e9;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 5px 6px 6px;
}

.menu-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.data-close-icon {
  fill: #ffffff;
}

.header-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header-nav-menu-item {
  color: #232233;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 20px;
}
